{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}

<div class="form-product-wrapper">
    <h1 class="form-product-wrapper__title">{{ titre }}</h1>
    <div class="formulaire">
        {{ form(formCategory) }}
    </div>

</div>
{% endblock %}
